
source/.vs/JIEJIE.NET.Console/FileContentIndex/4213794f-f112-4be0-90e7-b572396fe474.vsidx
source/.vs/JIEJIE.NET.Console/FileContentIndex/66a341f1-833e-48f9-aaf4-5592bb86e154.vsidx
source/.vs/JIEJIE.NET.Console/FileContentIndex/90c4d342-3842-4ba4-afce-25560da2a9bf.vsidx
source/.vs/JIEJIE.NET.Console/FileContentIndex/e42b503a-4fd0-4a6f-8e09-bb54c57f0cb0.vsidx
source/.vs/JIEJIE.NET.Console/FileContentIndex/f786939f-40c5-4952-a841-959c2789fae0.vsidx
source/.vs/JIEJIE.NET.Console/v17/.suo
source/.vs/JIEJIE.NET.GUI/FileContentIndex/5a417928-9d22-49f1-a051-575f42ee04a4.vsidx
source/.vs/JIEJIE.NET.GUI/v17/.suo
source/.vs/JIEJIENETForCore.Console/DesignTimeBuild/.dtbcache.v2
source/.vs/JIEJIENETForCore.Console/FileContentIndex/024232d0-5934-40c7-a74b-3df60e987cf6.vsidx
source/.vs/JIEJIENETForCore.Console/v17/.futdcache.v2
source/.vs/JIEJIENETForCore.Console/v17/.suo
source/bin/Debug/JIEJIE.NET.Console.exe
source/bin/Debug/JIEJIE.NET.Console.pdb
source/bin/Debug/JIEJIE.NET.GUI.exe
source/bin/Debug/JIEJIE.NET.GUI.pdb
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/JIEJIENETForCore.Console.deps.json
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/JIEJIENETForCore.Console.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/JIEJIENETForCore.Console.exe
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/JIEJIENETForCore.Console.pdb
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/JIEJIENETForCore.Console.runtimeconfig.dev.json
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/JIEJIENETForCore.Console.runtimeconfig.json
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/Microsoft.Win32.Registry.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/System.Drawing.Common.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/System.Resources.Extensions.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/System.Security.AccessControl.dll
source/bin_JIEJIENETForCore.Console/netcoreapp3.1/System.Security.Principal.Windows.dll
